.nav_bar_btn{
    text-align: right;
    margin: auto;
}
.nav_bar_btn button{
    margin-left: 10px;
}
.nav_bar_logo{
    width: 250px;
}
.login_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login_submit{
    float: right;
    margin-top: 5px;
}
.is_new{
    float: right;
    margin-top: 5px;
}
.is_new input{
    vertical-align: middle;
}
.toast{
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
    margin: 10px;
}
.scroll-block {overflow-x: scroll;}
.scroll-block::-webkit-scrollbar-track {border-radius: 4px;}
.scroll-block::-webkit-scrollbar {width: 6px;}
.scroll-block::-webkit-scrollbar-thumb {border-radius: 4px;background: #f0f2f5;}
.scroll-block:hover::-webkit-scrollbar-thumb {background: #6a7d9b;}